• Atmosphere-019.mov: fail probably issue with the quicktime itself
• Shot_0140_v005.mov not failed but playback is very very chopppy. Not passing for sure.
• MEGY_comp_4K_LL180_ap0_r709g24_v015.mov: pass
• Annotation on video: pass
• Annotation export: pass
• Thumbnails/scrubbing: pass
• Project Manager / batch rename: Batch Rename Failed. Project Manager Pass
• Bundled converters: pass
