[Desktop Entry]
Type=Application
Name=KAsset Manager
Comment=Professional asset management
Exec=kassetmanagerqt
Icon=kassetmanager
Terminal=false
Categories=Graphics;Utility;
StartupNotify=true
StartupWMClass=kassetmanagerqt
